<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="../../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <style>
        body {
            display: flex;
            height: 100vh; /* Full height of the viewport */
            margin: 0; /* Remove default margin */
        }
        .main-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1; /* Take the remaining space */
            background-color: #f4f6f9; /* Optional: Set a background color */
        }

        .login-box {
            width: 400px; /* Set a fixed width for the login box */
        }

        
    </style>
</head>
<body class="hold-transition login-page position-absolute top-50 start-50 translate-middle px-5 mx-5">
    <div class="main-content "  style="center">
        <div class="login-box">
            <div class="login-logo">
                <a href="../../index2.html"><b>DILG</b>Provincial</a>
            </div>
            <div class="card">
                <div class="card">
    <div class="card-body login-card-body d-flex flex-column justify-content-center align-items-center">
        <p class="login-box-msg">Sign in to start your session</p>

        <form action="../../index3.html" method="post" style="width: 100%;">
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Email" required>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Password" required>
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-8">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember">
                        <label for="remember">Remember Me</label>
                    </div>
                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                </div>
            </div>
        </form>

        <p class="mb-1">
            <a href="forgot-password.html">I forgot my password</a>
        </p>
        <p class="mb-0">
            <a href="register.html" class="text-center">Register a new membership</a>
        </p>
    </div>
</div>
            </div>
        </div>
    </div>

    <script src="../../plugins/jquery/jquery.min.js"></script>
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../../dist/js/adminlte.min.js"></script>

</body>
</html>